body {
	margin: 0;
	padding: 0;
	max-width: 1280px;
	min-width: 1200px;
	background-color: #f2f2f2;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
}

.visually-hidden {
	visibility: hidden;
	position: absolute;
	padding: 0;
	border: 0;
	margin: 0;
}

/* Container for everything */

.main-wrapper {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.button {
	text-align: center;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	border: none;
}

 
/* Header */

.main-header {
	height: 56px;
}

.main-nav {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	
	position: relative; /* centers the logo */
}
.main-nav,
.main-nav-list {
	list-style: none;
}
.main-nav a,
.main-nav-list a {
	color: #000000;
}

/* ul becomes flex container */
.main-nav-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}
.main-nav-item {
	width: 20%;
	height: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* Logo is centered */
.main-header-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* Navigation links */
.main-nav a:hover,
.main-nav a:focus,
.main-nav-list a:hover,
.main-nav-list a:focus {
	color: #81b3d2;
}
.main-nav a:active,
.main-nav-list a:active {
	color: #cacaca;
}


/* Styles for main */
.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Styles for header image */
.intro-background-pic {
	background-image: url("../img/header-image-indexa.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 564px;
	background-color: #e4f1f9;
}

/* Styles for intro text */
.intro-info {
	background-color: #ffffff;
	width: 100%;
	padding-top: 62px;
	
	text-align: center;
}
.intro-title {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 40px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}
.intro-text {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 56px;
}


/* Styles for the first reason */
.reason {
	width: 1200px;
	height: 256px;
	font-size: 0;   /* Иначе перед голубой плашкой возникает серый прямоугольник, 
					который относится к скрытому visually-hidden h2 */
	
	display: flex;
	text-align: center;
}
.reason-info {
	width: 400px;
	text-align: center;
	height: 208px;    /* 256-48 */
	padding-top: 48px;
}
.reason-info h3 {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 26px;
}
.reason-number {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 26px;
}
.reason-text {
	width: 310px;
	margin: 0 auto;
}
.reason-pic {
	width: 800px;
	height: 256px;
}


/* Styles for features */

.features-list {
	display: flex;
	text-align: center;
	padding: 0;
	margin: 0;
}
.features-item {
	width: 400px;
	padding-top: 60px;
	text-align: center;
}

.features-title {
	position: relative;
	margin: 0 auto;
	padding-top: 102px;
	margin-bottom: 24px;
}
.features-title::before {
	content: "";
	
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	
	width: 75px;
	height: 72px;
	background-repeat: no-repeat;
}
.feature-1::before {
	background-image: url("../img/icon-1.svg");
}
.feature-2::before {
	background-image: url("../img/icon-3.svg");
}
.feature-3::before {
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-2.svg");
}
.features-text {
	width: 295px;
	margin: 0 auto;
	margin-bottom: 84px;
}

/* Section for other reasons (Nr. 3–5) */
.other-reasons-list,
.features-list,
.social-media {
	list-style: none;
}

.other-reasons {
	background-color: #eeeeee;
	padding-top: 48px;
}

.other-reasons-list {
	padding: 0;
	margin: 0;
	display: flex;
}
.other-reasons-item {
	width: 400px;
}
.other-reasons-title {
	width: 130px;
	margin: 0 auto;
}
.other-reasons-text {
	width: 270px;
	margin: 0 auto;
	margin-bottom: 64px;
}
.reason-info {
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
}
.reason-title,
.other-reasons-item {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}
.reason-info p,
.other-reasons-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.other-reasons-item,
.search-title,
.search-text {
	text-align: center;
	color: #000000;
}

.search {
	padding-top: 54px;
}
.search-wrapper {
	width: 568px;
	margin: 0 auto;
}
.search-title {
	margin-top: 0; 
	margin-bottom: 28px;
}
.search-text {
	width: 460px;
	margin: 0 auto;
	margin-bottom: 50px;
}

/* Popup button for hotel searching form */
.popup-button {
	background-color: #766357;
	display: inline-block;
	padding: 32px 139px;
	width: 100%;
}
.popup-button:hover,
.popup-button:focus {
	background-color: #604e43;	
}
.popup-button:active {
	background-color: #503e33;
	color: #8f8681;	
}


/* -----------------------  Styles for searching form */
.searching-form {
	padding: 55px 56px;
	position: absolute;
	background-color: #ffffff;
	box-sizing: border-box;
	width: 568px;
}

.form-dates label,
.form-traveller label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	align-self: center;
}

.form-dates input,
.form-traveller input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000; 
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2; /* чтобы в состоянии фокуса инпут не увеличивался на ширину обводки */
	padding-left: 13px;
}

.form-dates input:hover,
.form-traveller input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.form-dates input:focus,
.form-traveller input:focus {
	background-color: #ffffff;
	outline: none;
}

.form-dates .calendar-button {
	color: #000000;
	opacity: 0.3;
	background-color: #ffffff;
	border: none;
}
.form-dates .calendar-button:hover {
	color: #000000;
}

.form-dates .calendar-button:focus {
	color: #81b3d2;
	border: none;
}

.calendar-button {
	background-color: #f2f2f2;
	width: 21px;
	height: 22px;
}

.form-dates {
	width: 460px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 29px;
	display: flex;
	justify-content: space-between;
}

.form-dates input {
	width: 346px;
	height: 38px;
}

.form-dates label {
	width: 113px;
}

.form-dates button {
	position: absolute;
	cursor: pointer;
	background: none;
	border: none;
	top: 9px;
	padding: 0;
	right: 9px;
}


.form-wrapper {
	display: flex;
	margin-bottom: 54px;
	width: 460px;
	justify-content: space-between;
}

/*  .form-wrapper label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	top: 18px;
	left: 50px;
}  */

.form-traveller {
	width: 227px;
	display: flex;
	justify-content: space-between;
}

.form-traveller label {
	width: 113px;
	display: block;
}

.form-traveller input {
	width: 99px;
	height: 38px;
}
.children label {
	padding-left: 50px;
}



/* -----------------------  Button for submitting the form */
.search-button {
	background-color: #81b3d2;
	width: 460px;
	margin: 0 auto;
	padding: 16px 0;
}
.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}
.search-button:active {
	background-color: #5496bd;
	color: #94b9d2;
}








/* -----------------------  Map */



/* -----------------------  Footer */


.main-footer {
	background-color:rgba(254, 254, 254, 0.9);
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #000000;
	
	padding: 36px 0;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.footer-info,
.footer-social,
.footer-author {
	width: 400px;
	height: 48px;
}

.footer-info {
	margin: 0 auto;
}
.footer-info p {
	margin-top: 12px;
	margin-bottom: 12px;
}

.footer-hashtag a {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.social-link {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.social-media {
	display: flex;
	width: 150px;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}

.social-link:hover,
.social-link:focus {
	background-color: #669ec0;
}
.social-link:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.social-link:active path {
	fill: #88b6d1;
}

.footer-author {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-author-text {
	margin: 0;
	margin-right: 7px;
}

.footer-author a:hover,
.footer-author a:focus {
	background-color: #81b3d2;
}
.footer-author a:active {
	background-color: #bdbbbc;
}


/* -----------------------  Styles for catalog.html */



/* -----------------------  Styles for the form of catalog.html */

.filtering-form {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	background-image: url("../img/header-image-hotel.jpg");
	padding: 30px 73px;
	
	display: flex;
	flex-wrap: wrap;
}
/* 3 flex-elements of the form */
.hotel-extras {
	width: 240px;
	text-align: left;
	margin: 0;
	padding: 0;
}
.hotel-type {
	width: 240px;
	margin: 0;
	padding: 0;
}
.filter-range {
	width: 318px;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.hotel-extras legend,
.hotel-type legend {
	margin-bottom: 9px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filtering-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filtering-form fieldset {
	border: none;
}



.hotel-price {
	margin: 0;
	padding: 0;
	
}
.filter-range-title {
	margin-bottom: 9px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.price-controls {
	border: 2px solid #ffffff;
	height: 36px;
	margin-bottom: 20px;
	border-radius: 2px;
	
	font-size: 0;
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 2px;
	height: 22px;
	
	background: #ffffff;
}

.price-controls label {
	display: inline-block;
	
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	
	color: inherit;
	font: inherit;
	
	background: none;
	border: none;
}


.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	
	background: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	
	background: #ffffff;
}

.range-toggle {
	width: 4px;
	height: 4px;
	
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	
	position: absolute;
	top: -9px;
}

.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #1c4f80;
}

.filtering-button {
	font: inherit;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	
	display: block;
	padding: 6px 35px;
	margin: 0 auto;
}

.filtering-button:hover {
	color: #000000;
	background-color: #ffffff;
}



/* Styles for main of catalog.html */



.hotel-results-info {
	display: flex;
	padding: 32px 73px;
	min-height: 22px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-founded {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	
	width: 135px;
	margin-right: 32px;
}

.hotels-founded p {
	padding: 0;
	margin: 0;
}

.hotel-sort {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
	
	margin-right: 38px;
}
.hotel-sort-list {
	display: flex;
	width: 240px;
	justify-content: space-between;
}

.hotel-sort-list,
.hotel-sort-updown-list,
.hotel-sort-updown {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-sort-title {
	color: #000000;
	
	display: inline-block;
}
.hotel-sort-link {
	color: #cacaca;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #81b3d2;
}
.hotel-sort-link:hover,
.hotel-sort-link:focus {
	color: #81b3d2;
}
.hotel-sort-link:active {
	color: #81b3d2;
	text-decoration: none;
}

/* Hotel list */
.hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.hotel-item {
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	min-height: 120px;
	padding-top: 30px;
}


.hotel-pic {
	width: 135px;
	margin-right: 30px;
	margin-left: 73px;
	min-height: 90px;
}
.hotel-info {
	text-align: left;
}

.hotel-item-title {
	padding: 0;
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}
.hotel-item-title a {
	color: #000000;
	
	margin-bottom: 10px;
}
.hotel-type {
	font-size: 14px;
	line-height: 21px;
	width: 110px;
	margin-right: 6px;
	margin-bottom: 10px;
	
	display: inline-block;
}
.hotel-price {
	margin-bottom: 16px;
}

.hotel-item-links {
	display: flex;
	width: 258px;
	justify-content: space-between;
}

.hotel-item-link-more {
	background-color: #81b3d2;
	color: #ffffff;
	width: 110px;
	text-align: center;
	padding: 6px 0;
	margin: 0 auto;
}

.hotel-item-link-book {
	background-color: #766357;
	color: #ffffff;
	width: 142px;
	text-align: center;
	padding: 6px 0;
	margin: 0 auto;
}


.hotel-item-raiting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
	height: 90px;
	margin-left: auto;
	margin-right: 73px;
}
.raiting {
	display: block;
	width: 110px;
	height: 27px;
	
	background-color: #f2f2f2;
	text-align: center;
}
.raiting-stars {
	height: 17px;
	width: 90px;
	background-color: red;
	background: url("../img/star.svg") repeat-x;	
}
.4-stars {
	width: 90px;
}
.3-stars {
	width: 65px;
}
.2-stars {
	width: 42px;
}