body {
	margin: 0 auto;
	padding: 0;
	max-width: 1280px;
	min-width: 1200px;
	background-color: #f2f2f2;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	padding: 0;
	margin: 0;
	clip: rect(0,0,0,0);
	overflow: hidden;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	
}

/* Container for everything */

.main-wrapper {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 1, 0.2);
	        box-shadow: 0px 5px 15px 0px rgba(0, 0, 1, 0.2); 
}

a {
	text-decoration: none;
}

.button {
	text-align: center;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	border: none;
}

 
/* Header */

.main-header {
	min-height: 56px;
}

.main-nav {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	
	position: relative; /* centers the logo */
}

.main-nav a,
.main-nav-list a {
	color: #000000;
}


/* ul becomes flex container */

.main-nav-list {
	width: 1056px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #ffffff;
}

.main-nav-item {
	height: 26px;
	padding: 15px 0;
}

.main-nav-item:first-child {
	text-align: left;
	width: 240px;
}
.main-nav-item:nth-child(2) {
	text-align: left;
	width: 240px;
	margin-right: auto;
}
.main-nav-item:nth-child(3) {
	text-align: right;
	width: 240px;
}
.main-nav-item:last-child {
	text-align: right;
	width: 240px;
}

/* Logo is centered */
.main-header-logo {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/* Navigation links */
.main-nav a:hover,
.main-nav a:focus,
.main-nav-list a:hover,
.main-nav-list a:focus {
	color: #81b3d2;
}
.main-nav a:active,
.main-nav-list a:active {
	color: #cacaca;
}

.current a {
	color: #766357;
}

/* Styles for main */
.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Styles for header image */
.intro-background-pic {
	background-image: url("../img/header-image-indexa.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 508px;
	background-color: #e4f1f9;
}

/* Styles for intro text */
.intro-info {
	background-color: #ffffff;
	width: 100%;
	padding-top: 62px;
	
	text-align: center;
}
.intro-title {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}
.intro-text {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 52px;
}


/* Styles for the first reason */
.reason {
	width: 1200px;
	background-color: #81b3d2;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	text-align: center;
}
.reason-info {
	width: 400px;
	text-align: center;
	height: 208px;    /* 256-48 */
	padding-top: 48px;
	background-color: #81b3d2;
	color: #ffffff;
}
.reason-info h3 {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 23px;
	
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.reason-number {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 21px;
}
.reason-text {
	/* width: 307px; */
	margin: 0 auto;
}
.reason-pic {
	width: 800px;
	height: 256px;
}


/* Styles for features */

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	padding: 0;
	margin: 0;
}
.features-item {
	width: 400px;
	padding-top: 60px;
	text-align: center;
}

.features-title {
	position: relative;
	margin: 0 auto;
	padding-top: 102px;
	margin-bottom: 22px;
	font-size: 21px;
	line-height: 24px;
}
.features-title::before {
	content: "";
	
	position: absolute;
	top: -2px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	
	width: 75px;
	height: 72px;
	background-repeat: no-repeat;
}
.feature-1::before {
	background-image: url("../img/icon-1.svg");
}
.feature-2::before {
	background-image: url("../img/icon-3.svg");
}
.feature-3::before {
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-2.svg");
}
.features-text {
	width: 295px;
	margin: 0 auto;
	margin-bottom: 80px;
}

/* Section for other reasons (Nr. 3–5) */
.other-reasons-list,
.features-list,
.social-media {
	list-style: none;
}

.other-reasons {
	background-color: #eeeeee;
	padding-top: 48px;
}

.other-reasons-list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.other-reasons-item {
	width: 400px;
}
.other-reasons-title {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	width: 130px;
	margin: 0 auto;
	margin-bottom: 24px;
}
.other-reasons-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin: 0 auto;
	margin-bottom: 20px;
}

.other-reasons-text {
	width: 270px;
	margin: 0 auto;
	margin-bottom: 60px;
}



.other-reasons-item,
.search-title,
.search-text {
	text-align: center;
	color: #000000;
}

.search {
	padding-top: 52px;
}
.search-wrapper {
	width: 568px;
	margin: 0 auto;
}
.search-title {
	margin: 0; 
	margin-bottom: 22px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
.search-text {
	width: 460px;
	margin: 0 auto;
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

/* Popup button for hotel searching form */
.popup-button {
	background-color: #766357;
	display: inline-block;
	vertical-align: middle;
	padding: 33px 0 28px 0;
	width: 100%;
	cursor: pointer;
}
.popup-button:hover,
.popup-button:focus {
	background-color: #604e43;
}
.popup-button:active {
	background-color: #503e33;
	color: #8f8681;	
}

/* класс, который будет отвечать за скрывание модального окна */
.popup-hide {
	display: none;
	-webkit-animation-name: disappearance;
	        animation-name: disappearance;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
}

.popup-show {
	display: block;
	-webkit-animation-name: appearance;
	        animation-name: appearance;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
}

.popup-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

/* анимация окна формы */
@-webkit-keyframes appearance {
	from { opacity: 0;}
	to { opacity: 100%; }
}
@keyframes appearance {
	from { opacity: 0;}
	to { opacity: 100%; }
}

@-webkit-keyframes disappearance {
	from { opacity: 100%;}
	to { opacity: 0; }
}

@keyframes disappearance {
	from { opacity: 100%;}
	to { opacity: 0; }
}


@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}


@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}





/* -----------------------  Styles for searching form */
.searching-form {
	padding: 55px 56px;
	position: absolute;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 568px;
		
		
}

.form-dates label,
.form-traveller label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.form-dates input,
.form-traveller input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000; 
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2; /* чтобы в состоянии фокуса инпут не увеличивался на ширину обводки */
	padding-left: 13px;
}

.form-dates input:hover,
.form-traveller input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.form-dates input:focus,
.form-traveller input:focus {
	background-color: #ffffff;
}

.calendar-pictogramm path {
	fill: #cacaca;
	border: none;
	width: 21px;
	height: 22px;
}

.calendar-pictogramm:hover path,
.calendar-pictogramm:focus path {
	fill: #000000;
}

.calendar-pictogramm:active path {
	fill: #81b3d2;
} 


.form-dates {
	width: 460px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 29px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form-dates input {
	width: 346px;
	height: 32px;
}

.form-dates label {
	width: 113px;
}

.form-dates button {
	position: absolute;
	cursor: pointer;
	background: none;
	border: none;
	top: 9px;
	padding: 0;
	right: 9px;
}


.form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 54px;
	width: 460px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form-traveller  {
	width: 227px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.form-traveller label {
	width: 100px;
	margin-right: 10px;
}

.form-traveller input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 38px;
	height: 38px;
	text-align: center;
	padding: 0;
}

.children {
	width: 200px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.children label {
	width: 65px;
}

.number-button {
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 0;
	background-color: #f2f2f2;
	border: none;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}
.number-button::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	top: 18px;
	left: 13px;
	background-color: #a9a9a9;
}

.form-traveller .number-button:nth-of-type(2)::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 11px;
	background-color: #a9a9a9;
	top: 14px;
	right: 18px;
}

.number-button:hover::before,
.number-button:focus::before {
	background-color: #000000;
}
.number-button:active::before {
	background-color: #81b3d2;
}
.form-traveller .number-button:nth-of-type(2):hover::after,
.form-traveller .number-button:nth-of-type(2):focus::after {
	background-color: #000000;
}
.form-traveller .number-button:nth-of-type(2):active::after {
	background-color: #81b3d2;
}




/* -----------------------  Button for submitting the form */
.search-button {
	background-color: #81b3d2;
	width: 460px;
	margin: 0 auto;
	padding: 16px 0;
	cursor: pointer;
}
.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}
.search-button:active {
	background-color: #5496bd;
	color: #94b9d2;
}


/* -----------------------  Map */

.search-map {
	width: 100%;
	height: 593px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat; 
}

iframe {
	border: 0;
}

/* -----------------------  Footer */


.main-footer {
	background-color:rgba(254, 254, 254, 0.9);
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #000000;
	
	min-height: 48px;
	padding: 36px 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
}

/* Separate class for the footer on index.html - for overlapping on the map */
.footer-overlap {
	position: relative;
	margin-top: -120px;
}

.footer-info,
.footer-social,
.footer-author {
	width: 400px;
	height: 48px;
}

.footer-info {
	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 12px;
}

.footer-info a {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.social-link {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center; 
}

.social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}

.social-link:hover,
.social-link:focus {
	background-color: #669ec0;
}
.social-link:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.social-link:active path {
	fill: #88b6d1;
}

.footer-author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-author-text {
	margin: 0;
	margin-right: 8px;
}

.footer-author a {
	width: 115px; 
	height: 41px;
}

.footer-author a:hover path,
.footer-author a:focus path {
	fill: #81b3d2;
}
.footer-author a:active path {
	fill: #bdbbbc;
}


/* -----------------------  Styles for catalog.html */



/* -----------------------  Styles for the form of catalog.html */

.filtering-form {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	background-image: url("../img/header-image-hotel.jpg");
	background-repeat: no-repeat;
	background-color: #81b3d2;
	padding: 30px 72px;
	min-height: 157px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
}

.filtering-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filtering-form fieldset {
	border: none;
}

/* 3 flex-elements of the form */
.hotel-extras {
	width: 255px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.hotel-types {
	width: 240px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.filter-range {
	width: 318px;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.hotel-extras legend,
.hotel-types legend {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filtering-extras,
.filtering-types {
	margin-bottom: 24px;
}

.filtering-extras:last-child,
.filtering-types:last-child {
	margin-bottom: 0;
}


/* Styles for the checkboxes, inputs're made invisible  */

.hotel-extras input[type="checkbox"],
.hotel-types input[type="checkbox"] {
	display: none;
}

.hotel-extras input[type="checkbox"] + label,
.hotel-types input[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
	padding-left: 40px;
}

.filtering-extras input + label::before,
.filtering-types input + label::before {
	content: "";
	position: absolute;
	
	width: 23px;
	height: 23px;
	
	top: -6px;
	left: 0;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filtering-extras input:checked + label::before,
.filtering-types input:checked + label::before {
	content: "";
	position: absolute;
	
	width: 27px;
	height: 23px;
	
	top: -6px;
	left: 0;
	
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.filtering-extras input:checked:disabled + label::before {
	background-image: url("../img/checkbox-on-disabled.svg");
	background-repeat: no-repeat;
}

.filtering-extras input:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
	background-repeat: no-repeat;
}

/* Styles for the price form (third flex-element)  */
.hotel-price {
	margin: 0;
	padding: 0;
	
}
.filter-range-title {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.price-controls {
	border: 2px solid #ffffff;
	height: 32px;
	margin-bottom: 20px;
	border-radius: 2px;
	
	font-size: 0;
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	
	width: 2px;
	height: 22px;
	
	background: #ffffff;
}

.price-controls label {
	display: inline-block;
	
	font-size: 14px;
	line-height: 34px;
	vertical-align: top;
	
	cursor: pointer;
}

.price-controls .min-price {
	width: 94px;
	padding-left: 64px;
	cursor: pointer;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 53px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	
	color: inherit;
	font: inherit;
	
	background: none;
	border: none;
}


.range-controls {
	position: relative;
	margin-bottom: 16px;
}

.range-controls .scale {
	height: 2px;
	
	background: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	
	background: #ffffff;
}

.range-toggle {
	width: 4px;
	height: 4px;
	
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	
	position: absolute;
	top: -9px;
}

.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #ababab;
}

.filtering-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	
	display: block;
	padding: 5px 34px;
	margin-left: 85px;
}

.filtering-button:hover {
	color: #000000;
	background-color: #ffffff;
}



/* Styles for main of catalog.html */



.hotel-results-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 73px;
	min-height: 22px;
	border-bottom: 1px solid #e5e5e5;
}

/* First flex element */
.hotels-founded {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	
	width: 135px;
	margin-right: 28px;
}

.hotels-founded p {
	padding: 0;
	margin: 0;
}

/* Second flex element */
.hotel-sort {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
	
	margin-right: 38px;
	padding-top: 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 364px;
}

.hotel-sort-title {
	color: #000000;
	margin-right: 40px;
}

.hotel-sort-list {
	list-style: none;
	margin: 0;
	padding: 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	width: 240px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotel-sort-link {
	color: #cacaca;
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	-webkit-text-decoration-color: #81b3d2;
	        text-decoration-color: #81b3d2;
}
.hotel-sort-link:hover,
.hotel-sort-link:focus {
	color: #81b3d2;
}
.hotel-sort-link:active {
	color: #000000;
	text-decoration: none;
}

.hotel-sort-link.sort-active {
	color: #81b3d2;
	text-decoration: none;
}

/* Third flex element */

.hotel-sort-updown {
	list-style: none;
	margin: 0;
	padding: 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	margin-left: auto;
	width: 36px;
}

.hotel-sort-updown-list {
	list-style: none;
	margin: 0;
	padding: 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	width: 36px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotel-ascending-order path,
.hotel-descending-order path {
	fill: #cacaca;
}

.hotel-ascending-order:hover path,
.hotel-descending-order:hover path,
.hotel-ascending-order:focus path,
.hotel-descending-order:focus path {
	fill: #000000;
}

.hotel-ascending-order:active path,
.hotel-descending-order:active path {
	fill: #81b3d2;
}

.active-arrow path {
	fill: #81b3d2;
}

/* Hotel list */
.hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	min-height: 120px;
	padding-bottom: 30px;
}

.hotel-pic {
	width: 135px;
	height: 90px;
	margin-right: 30px;
	margin-left: 73px;
	min-height: 90px;
	padding-top: 30px;
}

.hotel-info {
	text-align: left;
}

.hotel-info-wrapper {
	padding-top: 28px;
}

.hotel-item-title {
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.hotel-item-title a {
	color: #000000;
	margin-bottom: 10px;
}

.hotel-item-title a:hover {
	color: #81b3d2;
}

.hotel-item-title a:active {
	color: #cacaca;
}

.hotel-type {
	font-size: 14px;
	line-height: 21px;
	width: 110px;
	margin-right: 5px;
	margin-bottom: 14px;
	
	display: inline-block;
	vertical-align: top;
}
.hotel-price {
	margin-bottom: 16px;
}

.hotel-item-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 258px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotel-item-link-more {
	background-color: #81b3d2;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	width: 110px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
}

.hotel-item-link-more:hover,
.hotel-item-link-more:focus {
	background-color: #669ec0;
}

.hotel-item-link-more:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.hotel-item-link-book {
	background-color: #766357;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	width: 142px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
}

.hotel-item-link-book:hover,
.hotel-item-link-book:focus {
	background-color: #604e43;
}
.hotel-item-link-book:active {
	background-color: #503e33;
	color: #928a85;
}

.hotel-item-raiting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	
	height: 90px;
	margin-left: auto;
	margin-right: 73px;
	text-align: center;
	padding-top: 30px;

}
.raiting {
	width: 110px;
	height: 22px;
	padding-top: 5px;
	
	background-color: #f2f2f2;
}

.raiting-stars {
	height: 17px;
	width: 110px;
}


.hotel-item-raiting .stars-4 {
	width: 89px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.hotel-item-raiting .stars-3 {
	width: 65px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.hotel-item-raiting .stars-2 {
	width: 42px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
} 
